table,
th,
tr,
td {
    border: 2px solid black;
    border-collapse: collapse;
    font-size: large;
    font-family: sans-serif;
}

table {
    width: 55rem;
    height: 20rem;
}

th {
    height: 6rem;
    background-color: yellow;
    text-align: left;
}

.td4 {
    text-align: right;
}