.table5,
.tr5,
.th5,
.td5 {
    border: 3px solid white;
    border-collapse: collapse;
    width: 80rem;
    font-size: 22px;
    font-family: sans-serif;
}

.th5 {
    height: 4rem;
    background-color: rgb(17, 159, 206);
    color: white;
}

.td5 {
    height: 30px;
    text-align: right;
}

.tr5:nth-child(odd) {
    background-color: rgb(225, 235, 233);
}

.td51 {
    background-color: rgb(17, 159, 206);
    text-align: left;
    color: white;
}